*{
    box-sizing: border-box;
    
}


html, body{
    height: 100%;
    width: 100%;   
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 20px;  
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
    
}


body {
    background-color: #EAEAEA;


}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  size: 20%;
    
}

img {
  display: block;
  margin: 0 auto;
  size:70%;
    
}

#contenedor1{
  border: 5px solid black;
  text-align:Left;
  width:70%;
  height: 70%;
  background-color:#3FD8D7;
  padding: 5px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column;
  justify-content: space-around;
    
}

    